<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix 16x16</title>
  <link href={{ static_url("css/bootstrap.min.css") }} rel="stylesheet">
  <script src={{ static_url("js/jquery.min.js") }}></script>
  <script src={{ static_url("js/bootstrap.min.js") }}></script>
</head>
<body class="bd-docs">
  <p class="text-center">MATRIX 16x16</p>
  <!--                         ROW  1                             -->
  <div class="text-center">
    <button id="0x00" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x01" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x02" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x03" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x04" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x05" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x06" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x07" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x08" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x09" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x0a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x0b type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x0c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x0d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x0e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x0f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  2                             -->
  <div class="text-center">
    <button id="0x10" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x11" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x12" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x13" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x14" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x15" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x16" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x17" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x18" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x19" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x1a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x1b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x1c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x1d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x1e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x1f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  3                             -->
  <div class="text-center">
    <button id="0x20" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x21" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x22" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x23" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x24" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x25" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x26" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x27" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x28" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x29" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x2a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x2b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x2c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x2d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x2e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x2f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  4                             -->
  <div class="text-center">
    <button id="0x30" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x31" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x32" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x33" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x34" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x35" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x36" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x37" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x38" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x39" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x3a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x3b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x3c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x3d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x3e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x3f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  5                             -->
  <div class="text-center">
    <button id="0x40" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x41" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x42" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x43" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x44" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x45" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x46" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x47" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x48" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x49" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x4a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x4b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x4c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x4d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x4e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x4f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  6                             -->
  <div class="text-center">
    <button id="0x50" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x51" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x52" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x53" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x54" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x55" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x56" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x57" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x58" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x59" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x5a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x5b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x5c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x5d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x5e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x5f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  7                             -->
  <div class="text-center">
    <button id="0x60" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x61" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x62" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x63" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x64" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x65" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x66" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x67" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x68" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x69" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x6a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x6b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x6c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x6d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x6e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x6f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  8                             -->
  <div class="text-center">
    <button id="0x70" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x71" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x72" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x73" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x74" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x75" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x76" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x77" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x78" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x79" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x7a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x7b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x7c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x7d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x7e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x7f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW  9                             -->
  <div class="text-center">
    <button id="0x80" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x81" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x82" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x83" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x84" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x85" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x86" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x87" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x88" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x89" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x8a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x8b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x8c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x8d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x8e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x8f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW 10                             -->
  <div class="text-center">
    <button id="0x90" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x91" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x92" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x93" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x94" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x95" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x96" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x97" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x98" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x99" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x9a" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x9b" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x9c" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x9d" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x9e" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0x9f" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW 11                             -->
  <div class="text-center">
    <button id="0xa0" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa1" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa2" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa3" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa4" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa5" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa6" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa7" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa8" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xa9" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xaa" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xab" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xac" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xad" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xae" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xaf" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW 12                             -->
  <div class="text-center">
    <button id="0xb0" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb1" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb2" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb3" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb4" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb5" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb6" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb7" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb8" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xb9" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xba" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xbb" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xbc" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xbd" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xbe" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xbf" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW 13                             -->
  <div class="text-center">
    <button id="0xc0" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc1" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc2" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc3" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc4" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc5" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc6" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc7" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc8" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xc9" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xca" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xcb" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xcc" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xcd" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xce" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xcf" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW 14                             -->
  <div class="text-center">
    <button id="0xd0" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd1" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd2" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd3" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd4" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd5" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd6" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd7" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd8" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xd9" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xda" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xdb" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xdc" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xdd" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xde" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xdf" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW 15                             -->
  <div class="text-center">
    <button id="0xe0" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe1" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe2" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe3" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe4" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe5" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe6" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe7" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe8" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xe9" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xea" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xeb" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xec" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xed" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xee" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xef" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <!--                         ROW 16                             -->
  <div class="text-center">
    <button id="0xf0" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf1" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf2" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf3" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf4" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf5" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf6" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf7" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf8" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xf9" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xfa" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xfb" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xfc" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xfd" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xfe" type="button" class="btn btn-default btn-xs">&nbsp</button>
    <button id="0xff" type="button" class="btn btn-default btn-xs">&nbsp</button>
  </div>
  <script>
    var ws = new WebSocket("ws://"+location.host+"/ws_counter");
    window.onclose = function() {
      if (ws.readyState == WebSocket.OPEN) {
        ws.close();
      }
    }
    
    $(document).ready(function () {
      $(".btn").click(handle_click);
    });
    
    function handle_click(event) {
      var json_data = JSON.stringify({
        id: event.target.id,
        state: event.target.classList.contains('btn-primary')
      });
      
      $.ajax({
        url: '/ajaxclick',
        method: 'POST',
        data: json_data,
        success: function(json_resp) {
          resp = JSON.parse(json_resp);
          if (resp['state'] == true) {
            event.target.classList.add('btn-primary');
          } else if (resp['state'] == false) {
            event.target.classList.remove('btn-primary');
          }
        }
      });
    }
  </script>
</body>
</html>